{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <header>
        <h1>it services</h1>
    </header>
    {% block content %}{% endblock %}
    {% include "footer.html" %}
    <script>
        document.getElementById('file-input').addEventListener('change', function(event) {
            var fileInput = event.target;
            var fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'Choose file...';
            document.getElementById('file-input-text').textContent = fileName;
        });
       
        document.getElementById('rzp-button').onclick = function(e) {
            e.preventDefault(); 
            var rzp = new Razorpay({
                key: "{{ razorpay_key }}",
                amount: "{{ net_price|floatformat:2 }}",
                currency: "INR",
                order_id: "{{ order_id }}",
                name: "IT Services",
                description: "Payment for {{ service.service_name }}",
                prefill: {
                    email: "{{ request.user.email }}"
                }
            });
            rzp.open();
        }
        </script>
</body>