{% extends 'base.html' %}

{% block title %}Home - IT Services{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="main-block">

            <h1>Welcome to IT Services</h1>
            <div class="block1">
                <a href="{% url 'signout' %}">Log out</a>
                <a href="{% url 'create_service' %}">Create Services</a>
            </div>

            <h2>Services</h2>

            <div class="block2">
                {% for service in services %}
                <div>
                    <h3>{{ service.service_name }} :</h3>
                    <p style="color: rgb(107, 186, 107);">Price: {{ service.service_price }}</p>
                    <a href="{% url 'subscription' service.id %}">Buy</a>
                </div>
                {% empty %}
                <p style="color: rgb(177, 200, 218);">No services Yet.</p>
                {% endfor %}
            </div>
            <div class="block1">
                <a href="{% url 'service_list' %}">Services</a>
            </div>
        </div>
    </div>
    
{% endblock %}
